.main {
  display: flex;
  justify-content: center;
  margin: 5rem 5rem;
}
.container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

@media screen and (max-width: 1300px) {
  .main {
    margin: 5rem 0;
  }
}
