.container {
  width: 100%;
  height: 4rem;
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.items {
  display: flex;
  width: 10rem;
  justify-content: space-between;
}
