.fixed {
  background-color: crimson;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.container {
  width: 100%;
  height: 4rem;
  background-color: crimson;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
}

.items {
  display: flex;
  width: 10rem;
  justify-content: space-between;
}
