.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 50rem;
  height: 25rem;
  overflow-x: scroll;
  overflow-y: hidden;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  background-color: rgb(21, 20, 20);
  border-radius: 15px;
  margin-bottom: 5rem;
}
